@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<div>
    <form action="~/MeterToFoot/CreateConversion" method="post">
        Number of Meters: <input type="number" name="Meters" step="any" />
        <input type="submit" name="submit" />
    </form>
</div>


