@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <form action="~/MetertoFoot/DeleteConversion" method="post">
        What do you want to delete <input type="number" name="Id" step="any" />
        <input type="submit" name="submit" />
    </form>
</div>
