@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    <form action="~/MetertoFoot/EditConversion" method="post">
        What ID would you like to edit<input type="number" name="Id" step="any" />
        <p>What meters would you like to edit  <input type="number" name="Meters" step="any" /> </p>
        <input type="submit" name="submit" />
    </form>
</div>
