@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<div>
    <form action="~/GramsToOunce/CreateConversion" method="post">
        Grams <input type="number" name="Grams" step=".1" />
        <input type="submit" name="submit" />
    </form>
</div>