
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<div>
    <form action="~/GramsToOunce/EditConversion" method="post">
        I.D. to Edit<input type="number" name="Id" step="1" />
        <p>New Number of Grams<input type="number" name="Grams" step=".1" /> </p>
        <input type="submit" name="submit" />
    </form>
</div>