
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<div>
    <form action="~/PoundToKilo/DeleteConversion" method="post">
        Input ID to delete <input type="number" name="Id" step="any" />
        <input type="submit" name="submit" />
    </form>
</div>