
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    <form action="~/PoundToKilo/EditConversion" method="post">
        Input ID to edit<input type="number" name="Id" step="any" />
        <p>Input Pounds to change <input type="number" name="Pounds" step="any" /> </p>
        <input type="submit" name="submit" />
    </form>
</div>