
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>

<div>
    <form action="~/Horse/DeleteConversion" method="post">
        I.D. to Delete <input type="number" name="Id" step="any" />
        <input type="submit" name="submit" />
    </form>
</div>