
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<div>
    <form action="~/Horse/EditConversion" method="post">
       I.D. to Edit<input type="number" name="Id" step="any" />
        <p>New Number of Horses<input type="number" name="Horses" step="any" /> </p>
        <input type="submit" name="submit" />
    </form>
</div>